
//Funciones a usar : 

@mixin tablet{

    @media(min-width: $formatoTablet){
        
        @content;
    }


}


@mixin escritorio{

    @media(min-width: $formatoWeb){

        @content;
    }
}