
//Funciones a usar : 

@mixin tablet{

    @media(min-width: $formatoTablet){
        
        @content;
    }


}


@mixin escritorio{

    @media(min-width: $formatoWeb){

        @content;
    }
}

//Genero la funcion para los botones:
@mixin boton($color){
    max-height: 40px;
    padding: 10px;
    background-color: $color;
    transition: background-color 0.5s ease, color 0.5 ease;

    &:hover{

        background-color: white;
    }
}