//Colores y margenes a utilizar en el proyecto:
:root {
	--primario:#7abe47;
	--secundario:#ffc845;
	--negro:#000000;
	--claro:#ffffff;
	--gris:#eeeeee28;
	--oscuro:#57a42b;
	--padding:1rem;
	--paddingt:2rem;
}
//Distintos formatos pantalla

$formatoTablet:480px;
$formatoWeb: 768px;


//Margenes
$padding:1rem;
$paddingt:2rem;