//Colores a usar en el proyecto

$primario:#7abe47;
$secundario:#ffc845;
$negro:#000000;
$claro:#ffffff;
$gris:#eeeeee;
$oscuro:#57a42b;


//Distintos formatos pantalla

$formatoTablet:480px;
$formatoWeb: 768px;


//Margenes
$padding:1rem;
$paddingt:2rem;