@import '_variables';
@import '_mixins';


*{

    margin: 0;
    padding: 0;
}
.contenedor{

    max-width: 1100px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}
header{
    background-color:$colorverde;


}

