@import '_mixins';
@import '_variables';


*{

    margin: 0;
    border:0;
    padding: 0;
}
.contenedor{

    max-width: 1500px;
    margin: 0 auto;
   
}

body{
    background-color: rgb(219, 214, 214);
}

//Cambios en el diseño
ul{
    list-style: none;
}

a{
    font-size: 25px;
    color: var(--claro);
    text-decoration: none;
}
p{
    font-size: 20px;
}

img{
    max-width: 100%;
}


header{

    //Le aplicamos el color de fondo a todo el header
    background-color: var(--primario);
    .cabecera{

        display: grid;
        padding: var(--padding);
        @include escritorio{
            grid-template-columns: 30% auto 30%;
        }
    
    
        .menu{

          grid-column: 3/4;
        
            
                ul{
                    
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px ,1fr));

                }

        }



    }


}

main{


    .nosotros{

        display: grid;
        @include escritorio{

            grid-template-columns: 1fr 1fr;
            gap: 2%;
            align-items: center;
            
        }
       
       
        img{
            width: 100%;
        }

        .texto{

            gap: 3%;


        }
       


    }
}


